@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --main-color: #7c4dff;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(38, 30, 44);
}

.chat-screen {
    display: none;
}

.Join-screen {
    display: none;
}

.Join-screen.active {
    color: #fff;
    background-color: #7c4dff;
    text-align: center;
    border-right: 1px solid;
    border-left: 1px solid;
    height: 100vh;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join input {
    text-align: center;
    width: 300px;
    height: 35px;
    padding: 5px;
}

h2{
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 40px;
}

.join {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

#join-btn {
    margin-top: 10px;
    color: var(--main-color);
    padding: 7px;
    font-weight: 600;
}

.chat-screen.active {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 100vh;
}

.chat-screen .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 15px;
    color: white;
}

.chat-screen .header button {
    color: #fff;
    padding: 0px 7px;
    height: 35px;
    border: 1px solid;
    align-content: center;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    background-color: transparent;
}

.chat-screen .messages {
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 100px);
    background: #fff;
}

.message-input {
    display: flex;
}

.message-input input {
    width: 550px;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--main-color);
}

.message-input button {
    width: 50px;
    background-color: var(--main-color);
    color: white;
    border: none;
    font-size: 25px;
}

.messages .message {
    display: flex;
    margin: 8px;
    padding: 10px;
}

.messages .message > div {
    max-width: 80%;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    line-height: 1.4;
    word-break: break-all;
}

.messages .other.message {
    justify-content: flex-start;
    border-radius: 0px 10px 10px 10px;
}

.messages .my.message {
    justify-content: flex-end;
    border-radius: 10px 0px 10px 10px;
    overflow: hidden;
}

.messages .my.message > div {
    background-image: linear-gradient(var(--main-color), rgb(162, 81, 230));
    color: #fff;
    animation: show_my ease 0.4s;
}

.messages .other.message > div {
    animation: show_other ease 0.4s;
}

.message .name {
    margin-bottom: 5px;
    color: var(--main-color);
    font-weight: 500;
}

.my.message .name {
    text-align: right;
    color: #fff;
}

.update {
    text-align: center;
    color: rgb(94, 93, 91);
}

button {
    cursor: pointer;
}

@keyframes show_my {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show_other {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}